body {
    width: 99%;
    height: 99%;
    background-color: #251E2A;
    color: white;
}
.chatArea {
    width: 31%;
    height: 90%;
    border-radius: 1rem;
    background-color: #201825;
    position: relative;
    top: 2%;
    overflow-x:auto;
    white-space: nowrap;
}
.youtubeArea {
    width: 68.5%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #201825;
    height: 90%;
    overflow-x:auto;
    top: 2%;
    position: relative;
    white-space: nowrap;
}
.divider {
    background-color: white;
    width: 0.1%;
    top: 2.5%;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 95%;
    position: relative;
}
.App {
    display: flex;
    width: 99%;
    height: 98%;
    position: absolute;
    vertical-align: middle;
}